body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img 
{
  font-size: 10px;
  width: 130px;
  padding-top: 20px;
  padding-left: 20px;
}
.icons{
  font-size: 23px;
  padding-top: 38px;
  padding-left: 190px;
}
.header{
  list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: white; 
   padding-bottom: 20px;
   margin-bottom: 20px;
   height: 70px;
}
.info-header
{
  display: flex;
  float: left;
}
.info-header
{
  height: 40px;
  width: 800px;

}
.banner
{
  background: url('./assets/bannerapp.jpg') no-repeat center/cover;
  height: 280px;
  width: 390px;
}
.banner.overlay
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 280px;
  width: auto;
  color: white;

}
.banner.overlay h1
{
  font-size: 12px;
  color: white;
}
h1{
  text-align: center;
  font-size: 13px;
  color: white;
  padding-top: 30px;
}
h2{
  text-align: center;
  font-size: 12px;
  color: white;
  padding-top: 10px;
}
.info
{
  text-align: center;
  font-size: 28px;
  color: white;
 margin-left: 6px;
  margin-right: 6px; 
}
.app-play
{
  color: white;
  border-radius: 35px;
  background:orangered;
  width: 110px;
  height: 35px;
  border-style: ridge;
  margin-left: 80px;
  font-size: 14px;
}
.app-store{
  color: white;
  background: url('./assets/bannerapp.jpg')no-repeat center/cover;
  border-style: solid;
  border-radius: 35px;
  width: 110px;
  height: 35px;
  font-size: 14px;
  margin-left: 20px;
}
.row
{
  padding-top: 20px;
}
/* .custom-images
{
  height: 270px;
  width: 220px;
  position: absolute;
  margin-left: 60px;
  margin-top: -25px;
}
.custom-images-anh{
  height: 180px;
  width: 110px;
  position:relative ;
  margin-left: 178px;
  
} */
.custom-images
{
  /* height: 270px;
  width: 220px; */
  /* position: absolute; */
  margin-left: -33px;
  margin-top: -25px;
  width: 100%;
  max-width: 100%;
}
.custom-images-anh{
  margin-top:  -420px;
 /* position:relative ;  */
  width: 50%;
  height: 50%;
  max-width: 80%;
  margin-left: 185px;
  
  
}
.row
{
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}
.custom-h3
{
  text-align: center;
  font-size: 20px;
  margin-bottom: 40px;
}

.contents
{
  margin-top: 550px;
} 
.contents h3{
  font-size: 20px;
  text-align: center;
  color: orangered;
  margin-left: 30px;
  margin-right: 30px;
}
.contents h1{
  font-size: 35px;
  color: rgb(20, 3, 65);
  margin-left: 30px;
  margin-right: 30px;
}
.contents h2
{
  font-size: 25px;
  color: grey;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}
.hinhanh
{
  width: 100%;
  height: 130%;
  margin-top: -60px;
  padding-right: 20px;
  margin-bottom: -100px;
  
}
.hinhanh1
{
  width: 100%;
  height: 130%;
  margin-top: -80px;
  padding-right: 20px;
  margin-bottom: -100px;
}
.hinhanh2
{
  width: 100%;
  height: 130%;
  margin-top: -80px;
  padding-right: 20px;
  margin-bottom: -100px;
}
.contents-dow
{
  background-color:rgb(26, 21, 58);
  height: 400px;
  width: 390px;
}
.contents-dow h1{
 
  color: white;
  font-size: 35px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  
}
.contents-dow h3{
 
  color:snow;
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 30px;
  font-weight: lighter;
  font-family:Arial, Helvetica, sans-serif;
  
}
.Buy
{
  background-color: orangered;
  color: white;
  font-size: 20px;
  border-radius: 15px;
  border-style: ridge;
  height: 80px;
  width: 150px;
  margin-left: 15px;

}
.Try
{
  font-size: 20px;
  border-radius: 15px;
  /* border-style: ridge; */
   height: 80px;
  width: 160px;
  margin-left: 15px;
  margin-right: 15px;
  font-weight: bolder; 
  border-width: 1px;
  border-style: solid;
  color: white;
  background-color:rgb(26, 21, 58);;
}
.contents-menu h3{
  margin-top: 20px;
  padding-top: 55px;
}

.footer-dev i
{
  color: orangered;
  margin-left: 20px;
  
  height: 100px;
  width: 100px;
  font-size: 50px;
  padding-top: 40px;
  text-align: center;
}
.devo
{
  font-size: 18px;
  text-align: center;

}
.copy
{
  margin-left: -380px;
}
.image{
  margin-left: -380px;
}
@media only screen and (min-width:687px) and (min-width: 1024px) 
{
  .banner
  {
    background: url('./assets/bannerapp.jpg') no-repeat center/cover;
    height: 650px;
    width: auto; 
  }
    .banner.overlay
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 650px;
    width: auto;
    color: white;
  
  }
    .banner.overlay h1
  {
    font-size: 30px;
    color: white;
  }
    h1{
    text-align: center;
    font-size: 30px;
    color: white;
    padding-top: 70px;
    padding-bottom: 10px;
  }
    h2{
    text-align: center;
    font-size: 30px;
    color: white;
    padding-top: 10px;
  }
    .info
  {
    text-align: center;
    font-size: 45px;
    color: white;
   margin-left: 6px;
    margin-right: 6px; 
    font-family:sans-serif;
  }
    .app-play
  {
    color: white;
    border-radius: 35px;
    background:orangered;
    width: 180px;
    height: 55px;
    border-style: ridge;
    margin-left: 580px;
    font-size: 20px;
    margin-top: 40px;
  }
    .app-store{
    color: white;
    background: url('./assets/bannerapp.jpg') no-repeat center/cover;
  -webkit-background-clip: text;
  background-clip: text;
    border-style: ridge;
    border-radius: 35px;
    width: 180px;
    height: 55px;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 40px;
  }
  .custom-images
{
  /* height: 270px;
  width: 220px; */
  /* position: absolute; */
  margin-left:  150px;
  margin-top: -135px;
  padding-left: 170px;
  width: 55%;
  max-width: 100%;
}
  .custom-images-anh{
  margin-top:  115px;
  position:relative ; 
  width: 24%;
  max-width: 100%;
  margin-left: -270px;
}
  .row
{
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}
.duongke
{
  width: 60%;
  text-align: center;
  font-weight: bold;
  margin-left: 25%;
  border: 5px;
}
.custom-h3
{
  text-align: center;
  font-size: 40px;
 
}
.hinhanh
{
  height: 80%;
  width: 40%;
  margin-top: -650px;
  margin-left: 200px;
}
.contents-menu
{
  float:left
}

.contents-menu h3
{
  font-size: 25px;
  margin-top: 500px;
  text-align: right;
  padding-right: 400px;
  padding-left: 910px;
}
.contents-menu h1
{
  font-size: 35px;
  /* margin-top: 500px; */
  text-align:center;
  padding-left: 900px;
  margin-top: -70px;

}
.contents-menu h2
{
  font-size: 25px;
  text-align: center;
  padding-left: 900px;
}
.contents2 h3
{
  float: left;
  padding-left: 280px;
  font-size: 25px;
  text-align: center;
  margin-top: 140px;

}
.contents2 h1
{
  float: left;
  padding-left: 280px;
  margin-top: -50px;
  font-size: 35px;
  text-align: center;
  
}
.contents2 h2
{
  float: left;
  padding-left: 280px;
  font-size: 25px;
  text-align: center;
  
  
}
.contents2 .hinhanh1
{
  height: 160%;
  width: 45%;
  float: right;
  margin-top: -600px;
  padding-right: 120px;

}
.contents2
{
  background: white;
  height: 800px;
  width: auto;
}
.contents3
{
  background: white;
  height: 1000px;
  width: auto;
}
.contents3 h3
{
  font-size: 25px;
  margin-top: 1000px;
  text-align: center;
  padding-right: 400px;
  padding-left: 910px;
  padding-top: 300px;
  margin-bottom: -50px;
}
.contents3 h1
{
  font-size: 35px;
  text-align:center;
  padding-left: 910px;
  
}
.contents3 h2
{
  font-size: 25px;
  text-align: center;
  padding-left: 920px;
}
.contents3 .hinhanh2
{
    height: 125%;
    width: 42%;
    margin-top: -650px;
    margin-left: 200px;
}
.contents-dow
{
  background: url('./assets/banner2.jpg') no-repeat center/cover;
  height: 450px;
  width: auto; 
}
.Try
{ margin-left: 50px;
  font-size: 20px;
  
  width: 200px;
  color: white;
  border-style: ridge;
  background: url('./assets/banner2.jpg') no-repeat center/cover;
  -webkit-background-clip: text;
  background-clip: text;
  
  
}
.Buy
{
  width:200px;
  margin-left: 530px;
  
}
.footer-dev
{
  margin-left: 570px;
  margin-top: -100px;
}
.copy
{
  margin-left: 1050px;
 margin-top: -90px;
 font-size: 25px;
}
.image{
  margin-left:200px;
 
}
.devo
{
  color: white;
}
}